/* Default */

body {
	font-family: "Calibri";
	font-size: 16px;
	line-height: 16px;	
	letter-spacing: -0.5;
	background-color: #f2f5f7;
	padding-left:0.5em;
	margin: 100px;
	position: relative;	
	min-width: 320px;
}

h1 {font-size: 25px;
	padding-left:3em;}
h2 {font-size: 18px;
	padding-left:6em;}
h3 {font-size: 16px;
	padding-left:8em;}
p{font-size: 14px;
	padding-left:10em;}

.column {
	float: left;
	width: 30%;
	}
	
/* Clear floats after the columns */
.row:after {
content: "";
display: table;
clear: both;
}

a:link, 
a:visited {color: #FF0000;}
a:hover {color: rgb(111, 0, 255);}
a:active {color: #0000FF;}

/* Common */

.hidden {display: none;}
.dotted {border-bottom: 1px dotted #555555;}

/* Other */